.categories ul {
margin-bottom: 0;
margin: 10px -12px 0px;
padding-left: 0px;

font-weight: 700;
}

.categories ul li {
padding: 5px;
border: 1px solid #f0eded;
font-size: 14px;
}

.categories ul li a{
	padding: 5px;
}

.categories > ul > li > a:after {
content: ' +';
float: right;
font-weight: 700;
color: #013f7c;
height: 20px;
width: 20px;
background: #EEE;
text-align: center;
}

.categories ul li ul{
	padding: 5px 10px 5px 20px;
	
}

.categories ul li ul{
	list-style: circle;
	display: none;
}